@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Contact us";
}
<h1>Contact us</h1>
<p>You can reach us at example@gmail.com or fill the contact form below.</p>