/* Light theme (default) */
:root {
    --bg: #f1d7e4; /* main background pink */
    --fg: #111; /* dark text */
    --card-bg: #eaadcc; /* darker pink for navbar/footer/cards#e5a7c6 #d786ae #f5c4d9 #f5c1d7 #e0a2c1 #ebb8d2  */
    --link: #007bff;
    --border: #ddd;
    --muted: #6c757d;
    --invert: 0;
    --footer-link: #8d8c8f;
    --active-link: #111;
}

/* Dark theme */
body[data-theme="dark"] {
    --bg: #121212;
    --fg: #ff7fbf; /* bright pink text */
    --card-bg: #1e1e1e; /* dark panels */
    --link: #66ccff;
    --border: #333;
    --muted: var(--fg);
    --invert: 1;
    --active-link: #fff;
}

/* Base */
body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--bg);
    color: var(--fg);
}

    /* footer links */
    footer a {
        color: var(--footer-link);
        text-decoration: none;
    }

        footer a:hover,
        footer a:focus {
            color: var(--link);
            text-decoration: underline;
        }


/* Navbar links */
.navbar a {
    color: var(--fg); /* dark pink text */
}

    .navbar a:hover,
    .navbar a:focus {
        color: var(--link);
    }

/* Navbar, Footer, Cards */
.navbar, footer, .card {
    background-color: var(--card-bg) !important;
    color: var(--fg) !important;
    border-color: var(--border);
}

    /* Overriding bootstraps background for the navbar which is */
    .navbar.navbar-light,
    .navbar.navbar-dark {
        background-color: var(--card-bg);
    }

.navbar-toggler-icon {
    filter: invert(var(--invert));
}

/* Active link selected */
#mainNavBar a.active, footer a.active 
{
    color: var(--active-link);
}

footer a.active {
    color: var(--active-link-dark);
}

/* Logo */
.navbar .navbar-brand {
    transition: color 0.6s ease-in-out;
}

/* hamburger menu */
.navbar-toggler:hover .navbar-toggler-icon {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(300deg);
    opacity: 0.8;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* Dropdown */
.custom-dropdown,
.custom-dropdown .dropdown-item {
    background-color: var(--card-bg);
    color: var(--fg);
}

    .custom-dropdown .dropdown-item:hover,
    .custom-dropdown .dropdown-item:focus {
        background-color: var(--border);
        color: var(--link);
    }

/* Buttons */
.btn-outline-primary {
    border-color: var(--link);
    color: var(--link);
}

    .btn-outline-primary:hover {
        background-color: var(--link);
        color: #fff;
    }

/* Comments */
.comments-section .comment-author {
    font-weight: bold;
}

.comments-section .comment-date {
    display: block;
    font-size: 0.85em;
    color: var(--muted);
}
